.menu {
  box-shadow: 9px 9px 15px 0px #00000040;
  border-radius: 0px 0px 65px 0px;
  width: 25%;
  padding: 45px 20px 20px 55px;
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;

  background: #212121;
  &__form {
    display: flex;
    flex-direction: column;
    height: 440px;
    width: 90%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px 25px 20px 35px;

    border: 1px solid #ffff;
  }
}

.form {
  &__upload {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px;
    margin-top: 45px;
    border: 1px solid #FFFFFF;
    height: 263px;
    width: 90%;
    border-radius: 20px;
    
  }
  &__btn{
    padding:0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    &_underline{
      background: #212121;
      border: 0;
      font-family: "Montserrat Alternates";
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;
      color: #ffffff;

      
    }
&_activ{
      border-bottom: 1px solid #ffffff;
      }  
  }
  &__fields {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_small{
      justify-content: start;
    }
  }
  &__label {
    margin: 0;
    margin-bottom: 25px;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
  }
}
.form__input,
.form__input:hover,
.form__input:focus,
.form__text,
.form__text:hover {
  :nth-child(n) {
    color: white;
    border-color: white;
  }
}

.upload {
  &__btn {
    input[type="file"] {
      display: none;
    }

    background: #eedc00;
    color: #000000;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    height: 38px;
    text-align: center;
    border-radius: 30px;
  }

  &__fileName{
    margin: 0;
    font-family: "Montserrat Alternates";
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }
  &__label{
    margin: 7px 0 7px 0;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
  }
}
